<p>Hogwarts Proudly Presents</p>

<div class="student-block">

<% for student in @students %>
  <p>Name: <%= student.name %> </p>
  <p>House: <%= student.house().house_name %></p>
  <p>Age: <%= student.age %></p>
  <img src="<%= student.house().logo_url %>" alt= "House Logo">

  <p> <a href="/students/<%=student.id%>"> Show Student</a> </p>
  <form method="post" action="/students/<%=student.id%>/delete">
    <input type="submit" value="Expel Student" />

  <hr />
<% end %>

</div>
