
<div class="student-block">

<p><strong>First Name:</strong> <%= @student.first_name %></p>
<p><strong>Last Name:</strong> <%= @student.last_name %></p>
<p><strong>House:</strong> <%= @student.house().house_name %></p>
<p><strong>Age:</strong> <%= @student.age %></p>
<img src="<%= @student.house().logo_url %>" alt= "House Logo">

</div>
